<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy Yelcamp 2021</span>
        <p class="fst-italic text-muted">Designed By <a href="https://www.linkedin.com/in/shailesh-khandey-397790206/">Shailesh Khandey</a></p>
    </div>
</footer>